<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đặt lại mật khẩu</title>
</head>
<body>
<div style="margin-bottom: 14px;">Chào <span th:text="${username}">Người dùng</span>,</div>
<div style="margin-bottom: 14px;">Bạn đã yêu cầu đặt lại mật khẩu cho tài khoản của mình. Hãy nhấp vào liên kết dưới đây để tiếp tục.</div>
<div style="margin-bottom: 14px;">
    <a th:href="${url}" th:text="${url}">Nhấp vào đây để đặt lại mật khẩu</a>
</div>
<div style="margin-bottom: 14px;">Nếu bạn không yêu cầu đặt lại mật khẩu, vui lòng bỏ qua email này hoặc trả lời để chúng tôi biết. Liên kết đặt lại mật khẩu này chỉ có hiệu lực trong vòng 30 phút.</div>
<div style="margin-bottom: 14px;">Xin cảm ơn</div>
</body>
</html>
