<!DOCTYPE html>
<html>
<head>
    <title>Confirm password reset</title>
</head>
<body>
<div style="margin-bottom: 14px;">
    Xin chào, <span style="font-weight: bold;" th:text="${username}">[Tên người dùng]</span>
</div>
<div style="margin-bottom: 14px;">
    Mật khẩu mới của bạn là:
    <span style="font-weight: bold;" th:text="${newPassword}">[Mật khẩu mới]</span>.
</div>
<div style="margin-bottom: 14px;">
    Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi.
</div>
<div style="margin-bottom: 14px;">
    Trân trọng,<br>
    Lê Thành Công
</div>
</body>
</html>
